<?xml version="1.0" encoding="utf-8"?>
<manifest package="location.pokemon.com.pokemongolocation"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="location.pokemon.com.pokemongolocation.AppApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:value="5796de4967e58e85900015d3" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="1" android:name="UMENG_CHANNEL"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.WindowService"
            >
        </service>
    </application>

</manifest>